<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
</head>
<body>
<%= erb :header %>

<form action="/search" method="get">
	<%= erb :multiinput %>
	<br>
	<input type="submit" value="Search">
</form>

<div class="favorite_win">
	<h2>お気に入り</h2>
	<% Array(@busstops).each do |busstop| %>
			<li>
				<a href="busstop/<%= busstop.id %>"><%= busstop.name %></a>
			</li>
	<% end %>
</div>

</body>
</html>
