<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
</head>
<body>
<h1>SEARCH</h1>

<ul>
	<% Array(@busstops).each do |busstop| %>
		<li class="bus_stop">
			<a href="/busstop/<%= busstop.id %>"><%= busstop.name %></a>
		</li>
	<% end %>
</ul>
</body>
</html>
